.dashboard-container {
  height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.dashboard-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.dashboard-items {
  display: flex;
  flex-wrap: wrap row;
  justify-content: center;
  gap: 10%;
  padding: 2rem;
}

/*--------------------------------------------------------------------- 
header 
---------------------------------------------------------------------*/

header {
  width: 100%;
  padding: 22px 30px;
  z-index: 9;
  display: flex;
  justify-content: space-between;
}

.logo a {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

ul.social_icon {
  float: right;
  padding-top: 6px;
}

ul.social_icon li {
  display: inline-block;
  padding-right: 20px;
}

ul.social_icon li:last-child {
  padding-right: 0;
}

ul.social_icon li a {
  color: #fefeff;
  display: inline-block;
  text-align: center;
  line-height: 33px;
  border-radius: 100%;
  font-size: 23px;
  font-weight: bold;
}

ul.social_icon li a:hover {
  color: #6dcff6;
  transition: ease-in all 0.7s;
}
